A12/NodeRed_IotrackingFlowCode.txt
[{"id":"6adb0f75424bc37f","type":"tab","label":"IoTracking","disabled":false,"info":"","env":[]},{"id":"d6041d660b7d2c4d","type":"mqtt in","z":"6adb0f75424bc37f","name":"","topic":"Iotracking_GPS_T6","qos":"1","datatype":"auto","broker":"8fde701c.6c6c3","nl":false,"rap":false,"inputs":0,"x":130,"y":200,"wires":[["d4d1416eee6c38c6","3c306002bf754953"]]},{"id":"23e8c5f5a6159ff6","type":"ui_text","z":"6adb0f75424bc37f","group":"86f06afe3eb5f099","order":4,"width":8,"height":1,"name":"GPS","label":"GPS Data","format":"{{msg.payload.lat}}°N, {{msg.payload.lon}}°E","layout":"row-spread","x":810,"y":160,"wires":[]},{"id":"259366a31b347b67","type":"mqtt in","z":"6adb0f75424bc37f","name":"","topic":"Iotracking_IMU_T6","qos":"1","datatype":"auto","broker":"8fde701c.6c6c3","nl":false,"rap":false,"inputs":0,"x":130,"y":360,"wires":[["0ff0928d51bb0145","243c9ff9cc28256e"]]},{"id":"3e64ce2de22d4270","type":"ui_gauge","z":"6adb0f75424bc37f","name":"X Velocity","group":"86f06afe3eb5f099","order":7,"width":6,"height":4,"gtype":"gage","title":"X Velocity","label":"m/s","format":"{{msg.payload.imux}}","min":"-10","max":"10","colors":["#0000b4","#00b400","#b40000"],"seg1":"-5","seg2":"5","x":860,"y":320,"wires":[]},{"id":"cdb9fddcc6cf8b3b","type":"ui_gauge","z":"6adb0f75424bc37f","name":"Y Velocity","group":"86f06afe3eb5f099","order":8,"width":6,"height":4,"gtype":"gage","title":"Y Velocity","label":"m/s","format":"{{msg.payload.imuy}}","min":"-10","max":"10","colors":["#0000b4","#00b400","#b40000"],"seg1":"-5","seg2":"5","x":860,"y":360,"wires":[]},{"id":"05e9290687cd85fb","type":"ui_gauge","z":"6adb0f75424bc37f","name":"Z Velocity","group":"86f06afe3eb5f099","order":9,"width":6,"height":4,"gtype":"gage","title":"Z Velocity","label":"m/s","format":"{{msg.payload.imuz}}","min":"-10","max":"10","colors":["#0000b4","#00b400","#b40000"],"seg1":"-5","seg2":"5","x":860,"y":400,"wires":[]},{"id":"d4d1416eee6c38c6","type":"debug","z":"6adb0f75424bc37f","name":"raw gps data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":240,"wires":[]},{"id":"0ff0928d51bb0145","type":"debug","z":"6adb0f75424bc37f","name":"raw imu data","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":400,"wires":[]},{"id":"a76f73850583808c","type":"debug","z":"6adb0f75424bc37f","name":"time stamp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":540,"wires":[]},{"id":"afe29236ce546615","type":"comment","z":"6adb0f75424bc37f","name":"GPS Logic","info":"","x":100,"y":160,"wires":[]},{"id":"5b21e7d11b11bc39","type":"comment","z":"6adb0f75424bc37f","name":"IMU Logic","info":"","x":100,"y":320,"wires":[]},{"id":"243c9ff9cc28256e","type":"json","z":"6adb0f75424bc37f","name":"","property":"payload","action":"","pretty":false,"x":390,"y":360,"wires":[["f54a296529e97480","da8c46bcc5d31334"]]},{"id":"f54a296529e97480","type":"function","z":"6adb0f75424bc37f","name":"","func":"msg.payload.imux = msg.payload.imux / 1000;\nmsg.payload.imuy = msg.payload.imuy / 1000;\nmsg.payload.imuz = msg.payload.imuz / 1000;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":360,"wires":[["3e64ce2de22d4270","cdb9fddcc6cf8b3b","05e9290687cd85fb","b3b33bf579f87d73"]]},{"id":"b3b33bf579f87d73","type":"debug","z":"6adb0f75424bc37f","name":"modified_units","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":440,"wires":[]},{"id":"3c306002bf754953","type":"json","z":"6adb0f75424bc37f","name":"","property":"payload","action":"","pretty":false,"x":350,"y":200,"wires":[["f757d2f7bb56f618","70e82e9934809408","fe439605539c9f79"]]},{"id":"da8c46bcc5d31334","type":"debug","z":"6adb0f75424bc37f","name":"json imu data","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":400,"wires":[]},{"id":"08c3df72ceb59ed4","type":"inject","z":"6adb0f75424bc37f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["a76f73850583808c","bf945dc928531ba5"]]},{"id":"d914202febf0f122","type":"ui_text","z":"6adb0f75424bc37f","group":"86f06afe3eb5f099","order":2,"width":8,"height":1,"name":"RTC","label":"Real Time Clock","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":500,"wires":[]},{"id":"bf945dc928531ba5","type":"function","z":"6adb0f75424bc37f","name":"","func":"var options = {hour12: false, timeZone: 'America/New_York'};\nvar now = new Date().toLocaleString(\"en-US\", options);\nreturn {payload: now};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":500,"wires":[["d914202febf0f122"]]},{"id":"441f2b2f43b184fb","type":"comment","z":"6adb0f75424bc37f","name":"Real Time Clock","info":"","x":120,"y":460,"wires":[]},{"id":"f757d2f7bb56f618","type":"debug","z":"6adb0f75424bc37f","name":"json gps data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"e8933e4e495ef061","type":"ui_worldmap","z":"6adb0f75424bc37f","group":"86f06afe3eb5f099","order":18,"width":18,"height":7,"name":"dashboard map","lat":"","lon":"","zoom":"16","layer":"OSMC","cluster":"","maxage":"60000","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/dashboard","overlist":"CO,RA,DN,BU,RW,AC,TL,HM","maplist":"OSMC","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":840,"y":200,"wires":[]},{"id":"70e82e9934809408","type":"function","z":"6adb0f75424bc37f","name":"dashboard data","func":"msg.payload.name = \"dashboard\";\n//msg.payload.lat = (msg.payload.lat / 10000000.0) + 0.3812336 - 0.00054;\n//msg.payload.lon = (msg.payload.lon / 10000000.0) - 0.0755132 - 0.00109;\nmsg.payload.lat = (msg.payload.lat / 10000000.0);\nmsg.payload.lon = (msg.payload.lon / 10000000.0);\n//msg.payload.lat = (msg.payload.lat / 10000000.0) * 1.00403 + 0.221969;\n//msg.payload.lon = (msg.payload.lon / 10000000.0) * 1.00403 + 0.221969;\n// msg.payload.lat = (msg.payload.lat / 10000000.0) * 1.75991 - 29.6901;\n// msg.payload.lon = (msg.payload.lon / 10000000.0) * 1.63708 + 47.7771;\n\n\ncondlat1 = msg.payload.lat > 37.0;\ncondlat2 = msg.payload.lat < 41.0;\ncondlon1 = msg.payload.lon > -80.0;\ncondlon2 = msg.payload.lon < -70.0;\n\nif ((condlat1 && condlat2) && (condlon1 && condlon2)) {\n    return msg;\n} else{\n    //return msg;//do nothing\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":160,"wires":[["06fe93b0e3f85f63","e8933e4e495ef061","23e8c5f5a6159ff6"]]},{"id":"06fe93b0e3f85f63","type":"debug","z":"6adb0f75424bc37f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]},{"id":"e76d03dcfdbb44fe","type":"worldmap-tracks","z":"6adb0f75424bc37f","name":"","depth":"10000","layer":"combined","smooth":false,"x":790,"y":120,"wires":[["b92aed04a447cc6d"]]},{"id":"b92aed04a447cc6d","type":"worldmap","z":"6adb0f75424bc37f","name":"","lat":"","lon":"","zoom":"16","layer":"EsriT","cluster":"","maxage":"60000","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/iotracking","overlist":"RA,DN,BU,RW,AC,TL,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":900,"y":40,"wires":[]},{"id":"fe439605539c9f79","type":"function","z":"6adb0f75424bc37f","name":"iotracking data","func":"msg.payload.name = \"iotracking\";\nmsg.payload.icon = \"fa-flag\";\n//msg.payload.lat = (msg.payload.lat / 10000000.0) + 0.3812336 - 0.00054;\n//msg.payload.lon = (msg.payload.lon / 10000000.0) - 0.0755132 - 0.00109;\nmsg.payload.lat = (msg.payload.lat / 10000000.0);\nmsg.payload.lon = (msg.payload.lon / 10000000.0);\n//msg.payload.lat = (msg.payload.lat / 10000000.0) * 1.00403 + 0.221969;\n//msg.payload.lon = (msg.payload.lon / 10000000.0) * 1.00403 + 0.221969;\n//msg.payload.lat = (msg.payload.lat / 10000000.0) * 1.75991 - 29.6901;\n//msg.payload.lon = (msg.payload.lon / 10000000.0) * 1.63708 + 47.7771;\n\ncondlat1 = msg.payload.lat > 37.0;\ncondlat2 = msg.payload.lat < 41.0;\ncondlon1 = msg.payload.lon > -80.0;\ncondlon2 = msg.payload.lon < -70.0;\n\nif ((condlat1 && condlat2) && (condlon1 && condlon2)) {\n    return msg;\n} else{\n    //return msg;//do nothing\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":120,"wires":[["e76d03dcfdbb44fe","b92aed04a447cc6d"]]},{"id":"d3eafd9ed6f0a8c9","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":1,"width":1,"height":1},{"id":"da080e41051ddb9b","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":3,"width":2,"height":1},{"id":"87061b990d714d2a","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":5,"width":1,"height":1},{"id":"c37a89ae00b2d466","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":6,"width":1,"height":1},{"id":"3cd69c74a74b96ca","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":10,"width":1,"height":1},{"id":"d66e197e4188dc29","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":11,"width":1,"height":1},{"id":"6251693c832732c0","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":12,"width":1,"height":1},{"id":"664ba26ae1b19417","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":13,"width":1,"height":1},{"id":"24a61508bbb2897b","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":14,"width":1,"height":1},{"id":"534f4a3b5d50c4e6","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":15,"width":1,"height":1},{"id":"86400ab0e95d0d49","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":16,"width":1,"height":1},{"id":"48483fd23eb4352f","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":17,"width":1,"height":1},{"id":"0493a6a703da636f","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":19,"width":1,"height":1},{"id":"41c23f636cce4b15","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":20,"width":1,"height":1},{"id":"96ac7e1f74d71f85","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":21,"width":1,"height":1},{"id":"f7b56470f8ac2b7e","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":22,"width":1,"height":1},{"id":"81e14cdbf0d27043","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":23,"width":1,"height":1},{"id":"8d88ce1d463ac2ee","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":24,"width":1,"height":1},{"id":"35f6f1de9e82b21e","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":25,"width":1,"height":1},{"id":"c642190fa0f32a17","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":26,"width":1,"height":1},{"id":"f37bdae775505dac","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":27,"width":1,"height":1},{"id":"df387f1bb2471c1f","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":28,"width":1,"height":1},{"id":"e765702d6d5fdcaa","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":29,"width":1,"height":1},{"id":"f8c406532184bdaa","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":30,"width":1,"height":1},{"id":"4072be6c8a562697","type":"ui_spacer","z":"6adb0f75424bc37f","name":"spacer","group":"86f06afe3eb5f099","order":31,"width":1,"height":1},{"id":"8fde701c.6c6c3","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"86f06afe3eb5f099","type":"ui_group","name":"IoTracking","tab":"a9a1672cfaa9b66b","order":5,"disp":true,"width":"20","collapse":false},{"id":"a9a1672cfaa9b66b","type":"ui_tab","name":"IoTracking","icon":"dashboard","order":4,"disabled":false,"hidden":false}]